<div class="diary container">
    <div class="up-diary">
        <input class="diary-date" type="date" value=@ViewBag.Date>
        <div>
            <form class="search">
                <input autocomplete="off" name="keyword" type="text" placeholder="Искать здесь...">
                <div>
                    <img src="~/images/search.png" alt="search">
                </div>
            </form>
        </div>
    </div>

    <div class="content">
            <div class="sheet context">
            </div>
    </div>
        <div class="form">
            
        </div>
        <div class="always-down">
            <div class="button">
                <h2>Добавить запись</h2>  
            </div>
            <div class="statistics">
                <h2 class="days"></h2>
                <h2 class="entries"></h2>
            </div>
        </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.mark.min.js" charset="UTF-8"></script>
    <script src="~/js/diary.js"></script>

