@{
    ViewData["Title"] = "Home Page";
}

<div class="container info">
        <h2>О сайте</h2>

    <div class="about">
        <p> Данный сайт выполняет функцию личного инструмента и не предназначен для коммерческого использования. <br>
            Он включает в себя различный функционал помогающий человеку повседневно и предназначен для всех возрастов и любого пола. <br>
            Не зависимо от ваших увлечений вы с лёгкостью найдёте применение данному сайту. <br>
            Данный сайт с лёгкость станет заменой различным объектам и результатом их объединения в один экологически чистый, бесплатный, быстрый и удобный продукт.
        </p>
    </div>
</div>

<div class="sections info">
    <div class="container">
        <h2>Разделы</h2>
        <div class="info-block">
            <h3>Дневник</h3>
            <p> Данный раздел сайта предназначен для ведения личного дневника. <br>
                В нём вы может записывать абсолютно любые события за день и просматривать все записанные рание события 
                по дням с отображением времени записи, а также редактировать и удалять свои записи.
            </p>
        </div>

        <div class="info-block right">
            <h3>Заметки</h3>
            <p> Данный раздел сайта предназначен для заметок. <br>
                Это могут быть совершенно любые заметки с указанием важности и раздела. <br>
                В этом разделе вы можете просматривать, добавлять, редактирова и удалять заметки, а также искать по ключевым словам, дате, разделу или важности заметки.
            </p>
        </div>

        <div class="info-block">
            <h3>Цели</h3>
            <p> Данный раздел сайта предназначен для ведения личного списка целей. <br>
                В нём вы может записывать абсолютно любые цели с указанием (при желании) сроков выполнения, раздела и важности.
                В этом разделе вы можете просматривать, добавлять, редактирова и удалять цели, а также искать по ключевым словам, дате, разделу или важности цели.
            </p>
        </div>

        <div class="info-block right">
            <h3>Доска</h3>
            <p> Данный раздел сайта представляет из себя доску для рисования. <br>
                Здесь вы сможете при необходимости визуализировать какой-либо объект, маршрут и т.п.
            </p>
        </div>
    </div>
        
</div>
    

