<div class="note container">
    <div class="up-content">
        <div class="dropdown typedrop">
            <div class="select">
                <span>Все</span>
                <i class="fa fa-chevron-left"></i>
            </div>
            <ul class="dropdown-menu type-menu">
            </ul>
        </div>
        <div class="dropdown datedrop">
            <div class="select">
                <span>Все</span>
                <i class="fa fa-chevron-left"></i>
            </div>
            <ul class="dropdown-menu date-menu">
                <li>Все</li>
                <li>Календарь</li>
            </ul>
        </div>
                <input class="note-date" type="date" disabled>
        <div>
            <form class="search">
                <input autocomplete="off" name="keyword" type="text" placeholder="Искать здесь...">
                <div>
                    <img src="~/images/search.png" alt="search">
                </div>
            </form>
        </div>
    </div>
    <div class="note-content context">
    </div>
    <div class="form">   
    </div>
</div>
<div class="always-down">
    <div class="add-note">
        <h2>Добавить заметку</h2>  
    </div>
    <div class="statistic">
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.mark.min.js" charset="UTF-8"></script>
    <script src="~/js/note.js"></script>