html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd,
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

* {
    font-family: 'Grandstander', cursive;
    color: #424874;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100%;
}

body {
    background-color: #d6e5e3;
}

.dropdown {
    width: 220px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: center;
  }
  .dropdown .select {
      cursor: pointer;
      display: block;
      padding: 10px
  }
  .dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .dropdown:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  .dropdown:active {
      background-color: #f8f8f8
  }
  .dropdown.active:hover,
  .dropdown.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-radius: 2px 2px 0 0;
      background-color: #f8f8f8
  }
  .dropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .dropdown .dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 2px 2px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .dropdown .dropdown-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .dropdown .dropdown-menu {
      padding: 0;
      list-style: none
  }
  .dropdown .dropdown-menu li:hover {
      background-color: #f2f2f2;
  }
  .dropdown .dropdown-menu li:active {
      background-color: #e2e2e2;
  }

::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color:#2d314f;
    border-radius: 9em;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #71a5e6;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

/* Стрелки */

/*::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}*/